.budget-page {
  grid-area: "Content";
  display: grid;
  grid-template-areas:
    "left middle right"
    ". exp .";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content max-content;
  text-align: center;
}

.budget-page ul {
  display: "flex";
  flex-direction: "column";
}

.budget-page ul li {
  display: "flex";
  flex-direction: "row";
  flex-wrap: "nowrap";
  justify-content: "space-between";
}

.budget-page li div {
  flex: 1;
  align-items: "left";
}

.results {
  grid-area: exp;
}

.budget-page form {
  grid-area: middle;
  justify-content: center;
  background-color: rgba(26, 26, 26, 0.5);
  padding: 15px;
  margin: 15px 0;
  border-radius: 15px;
  max-width: "213px";
  display: "inline-flex";
  flex-direction: "column";
  flex-wrap: "wrap";
}
.budget-page form label {
  margin: 5px;
  display: "flex";
  justify-content: "space-between";
  flex-wrap: "wrap";
}
.budget-page form button {
  display: "block";
  margin-top: "2%";
}

.budget-page .result-section {
  grid-area: "exp";
}

/* timeFrame: { marginTop: "5%" }, */
.savings {
  margin-top: "5%";
}
.savings input[type="submit"] {
  display: "block";
  width: "60%";
  margin-left: "20%";
  margin-top: "5%";
}
.other {
  flex: "0 0 50%";
}
