.landing {
  grid-area: Content;
  display: flex;
  justify-content: space-between;
  flex-basis: 1fr 1fr 1fr;
}
.landing .stocks-article {
  flex: 1;
}

.loading-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.landing .budget-page {
  flex: 1;
}

.landing .analysis-view {
  flex: 1;
}

h1 {
  font-size: larger;
}

.intro {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
