.article {
  display: grid;
  grid-template-areas:
    "left middle right"
    ". stocks .";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content max-content;
  text-align: center;
  grid-area: Content;
}

@media only screen and (max-width: 1100px) {
  .article {
    grid-template-columns: 1fr 3fr 1fr;
  }
}

/* @media only screen and (max-width: 600px) {
  .article {
  }
} */

@media only screen and (max-width: 523px) {
  .article {
    grid-template-areas:
      ". middle ."
      ". stocks .";
    grid-template-columns: 0.1fr 8fr 0.1fr;
  }
}

.stocksFormSection {
  grid-area: middle;
  justify-content: center;
}

.stocksFormSection form {
  color: #d6d6d6;
  background-color: rgba(26, 26, 26, 0.5);
  padding: 15px;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px 0;
}

.stocksFormSection form label {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.stocksFormSection .button,
.stocksFormSection input[type="submit"] {
  margin: 0.5em;
  padding: 0.5em;
}

.stocksFormSection input[type="submit"] {
  background-color: #f0b03a;
  border-radius: 5px;
}

.left {
  text-align: left;
}

.result-section {
  grid-area: stocks;
  background-color: rgba(26, 26, 26, 0.5);
  color: #d6d6d6;
  border-radius: 15px;
  padding: 10px;
}

.stocks-display {
  margin-top: 5px;
  display: grid;
  grid-template-rows: minmax(1em 2em) minmax(1em 2em);
}

.stocks-display .stock-header {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 2fr 2fr 0.65fr;
  column-gap: 1.5%;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 523px) {
  .stocks-display {
    font-size: 12px;
  }
}

.stock-header span {
  font-weight: 500;
  width: 100%;
}

.stock-header span:first-of-type {
  width: 45px;
  text-align: left;
}

.stock-header span:last-of-type {
  min-width: 100%;
}

/* Stocks List Item Styles */

.stock-header .list-item {
  grid-area: results;
  margin-top: 10px;
  line-height: 25px;
}

/* delete */

.stock-header .list-item .button {
  max-width: 25px;
  max-height: 25px;
  color: #d6d6d6;
  align-self: center;
  line-height: 12px;
  margin: 0.5em;
  padding: 0.5em;
}

.stock-detail {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 2fr 2fr 0.5fr;
  column-gap: 1.5%;
  border-left: 1px solid #d6d6d6;
  max-height: 25px;
  border-top: 1px solid #d6d6d6;
  border-top-left-radius: 5px;
}

.stock-detail div:first-of-type {
  text-align: left;
  width: 45px;
  padding-left: 5px;
}

.one-year {
  display: block;
  width: max-content;
  text-align: left;
  border-left: 1px solid #d6d6d6;
  padding: 0 5px;
}

.none {
  display: none;
}

.result-section .summary {
  display: grid;
  grid-template-areas:
    "3fr 1fr"
    "3fr 1fr"
    "3fr 1fr";
  text-align: left;
}

#yearCheckBox {
  margin: auto 2em;
}
/* .aside {
  text-align: center;
  margin: 10px;
} */
