.header {
  position: relative;
  display: grid;
  grid-area: Header;
  height: 3em;
  line-height: 3em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header .list-container {
  flex: 80%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header .list-item {
  flex: 1fr;
  position: relative;
  text-decoration: none;
  margin: 0;
  width: 10%;
}
.header .list-item li {
  text-align: center;
  text-decoration: none;
  color: #ededed;
  height: 3em;
  line-height: 3em;
}
.header .sign-out {
  color: #4e4e4e;
  height: 2rem;
}

.header-right-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-right: 1rem;
  background-color: rgba(26, 26, 26, 0.5);
}

.header-home {
  text-decoration: none;
}

.header-home span {
  display: block;
  color: #ededed;
  margin: 0 1rem;
}

@media only screen and (max-width: 523px) {
  .header .sign-out {
    position: relative;
    margin-right: 3%;
    right: 0;
  }
}
